@import '../../styles/colors';
@import '../../styles/mixins';

$color-input-bg: palette(base, 600);
$color-border: palette(base);
$bg-odd: palette(base);

.container {
  display: flex;
  flex-direction: column;
  margin: 50px 0 20px 0;
  height: 100%;
  overflow: hidden;

  .row:nth-child(odd),
  .row:nth-child(0) {
    &,
    .typeColValue {
      background-color: $bg-odd;
      color: font-color(light);
    }
  }
}

.row:last-child {
  border-bottom: solid 1px $color-border;
}

.row {
  @include font-body;
  line-height: 13px;
  font-weight: 600;

  display: flex;
  flex-direction: row;
  border-top: solid 1px $color-border;
  transition: color ease 0.3s, background-color ease 0.3s;

  &:hover {
    &,
    .typeColValue {
      background-color: $bg-color-dark !important;
      color: font-color(light);
    }

    input,
    textarea {
      color: font-color(light);
    }
  }

  > div:not(:last-child) {
    border-right: solid 1px $color-border;
  }

  > div {
    padding: 32px 20px 16px 30px;
  }

  .col1 {
    width: 20%;
    min-width: 140px;
  }
  .col2 {
    width: 30%;
    min-width: 170px;
  }
  .col3 {
    width: 50%;
    min-width: 240px;
  }

  .typeCol {
    display: flex;
    position: relative;
    padding: 16px 0;

    .typeColValue {
      padding: 0 8px 0 16px;
      background-color: $bg-color;
      transition: background-color ease 0.3s;
      width: fit-content;
      z-index: 2;
    }
  }

  .variableCol {
    display: flex;
    padding: 16px 0;

    > div {
      margin-left: 8px;
    }
  }

  .variableValue {
    > label {
      display: none;
    }

    > input,
    > textarea {
      background-color: $color-border;
    }

    > div {
      top: 13px;
    }
  }
}

.header {
  @include border-header;

  @include font-caption;
  font-weight: 800;

  min-height: 40px;
  line-height: 40px;
  border-top-width: 0;
  border-bottom: 2px solid #4f4f4f;

  > div {
    padding: 0 0 0 20px;
  }
}

.list {
  overflow: auto;
}
