@import '../../styles/colors';
@import '../../styles/shadows';
@import '../../styles/mixins';

.contextMenuContainer {
  @include shadow(3);

  z-index: 1;
  position: fixed;
  padding: $grid-unit;
  background-color: $bg-color;
}

.contextMenuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  & > li {
    text-transform: uppercase;
  }
}
