@import '../../../../styles/variables';
@import '../../../../styles/colors';
@import '../../../../styles/mixins';

$color-wrapper-bg: palette(base, 500);

.wrapper {
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
  width: $lateral-menu-width;
  background-color: $color-wrapper-bg;
  display: flex;
}

.backSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: font-color(light);
  font-size: 14px;
  padding-left: 8px;
  border-bottom: solid 1px palette(base, 900);

  span {
    padding-left: 8px;
  }

  &:hover {
    color: font-color(light);
  }
}

.runtimeNameSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.runtimeHexagon {
  padding: 15px;
}

.runtimeName {
  @include font-subheader;
  color: font-color(light);

  margin-right: 15px;
}

.lateralPanel {
  position: fixed;
  z-index: 3;
  left: $lateral-menu-width + $runtime-menu-width;
  top: $header-height;
  height: 100%;
  transition: width ease 0.3s;
  width: 0;
  overflow: hidden;

  &.opened {
    box-shadow: 13px 8px 20px -15px rgba(0, 0, 0, 0.75);
    width: 480px;
  }
}

.shield {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba($color-shield, $opacity-shield);
}
