@import '../../../styles/colors';
@import '../../../styles/shadows';
@import '../../../styles/mixins';

.bg {
  @include shield;
}

.container {
  @include shadow(2);

  width: 47.5 * $grid-unit;
  padding: 18px 0 0 21px;
  background-color: $bg-color-dark;

  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.content {
  margin: 3 * $grid-unit 0;
  padding-right: 21px;
}

.title {
  @include font-caption;
  color: white;
  text-transform: uppercase;
}

.footer {
  margin-top: auto;
}
