/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import-normalize;
@import '~typeface-montserrat/index.css';
@import '~typeface-roboto-mono/index.css';

@import './variables';
@import './mixins';
@import './colors';

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .page-with-logs-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
#root {
  overflow: hidden;

  > div {
    width: 100%;
    height: 100%;
    outline: none;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
text {
  font-family: $font-family;
  background-color: $bg-color;
  color: font-color(light);
  font-size: $font-size-body;
  -webkit-font-smoothing: antialiased;
  border-radius: 25px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  align-self: center;
  cursor: pointer;
}

h1 {
  @include font-headline;
  color: palette(highlight);
  text-align: center;
  margin: 0;
}

h2 {
  @include font-subheader;
  color: font-color(light);
  font-weight: 400;
}

.subtitle {
  line-height: 16px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.app {
  display: flex;
  flex-direction: column;
}
.app-body {
  overflow: auto;
  flex-grow: 1;
}

/*
  * A flexible 12-column layout
  * https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout#A_flexible_12-column_layout
  */
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 24px;
  min-width: 1000px;
  padding-bottom: 40px;
}

/*
  * Links
  */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/*
  * Scrollbar
  */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #61646a;
}

::-webkit-scrollbar-corner {
  display: none;
}

/*
 * Icon sizes
 */
.icon-small {
  font-size: 0.8rem !important;
}
.icon-small-regular {
  font-size: 1.1em !important;
}
.icon-regular {
  font-size: 1rem !important;
}
.icon-big {
  font-size: 2rem !important;
}

#contextual-menu {
  position: relative;
  z-index: 999;
}

.icon-huge {
  font-size: 3rem !important;
}
