@import '../../styles/variables';
@import '../../styles/colors';

.bg {
  width: 100%;
  height: 100%;
  background-color: $bg-color-dark;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(56px, 1fr));
  grid-gap: 24px;
  width: 100%;
  height: 100%;
  max-width: $container-max-width-login;
  margin: 0 auto;
}

.container {
  grid-area: 1 / 3 / 2 / 11;
  height: 100%;
  padding: $form-padding-height $form-padding-width;
  background-color: $bg-color;
  text-align: center;
}

.subtitle {
  height: 42px;
  margin: 15px 0 50px 0;
}

.errorText {
  margin-top: 50px;
}
