@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/shadows';
@import '../../../styles/borders';

$color-selected-bg: palette(base, 300);
$height-input: 30px;

.container {
  position: relative;

  &.hasClearButton .input {
    padding-right: 30px;
  }
}

.input {
  @include font-small;
  @include form-input;
  height: $height-input;
  min-height: $height-input;
  padding: 0 5 * $grid-unit 0 2 * $grid-unit;
  line-height: 30px;
  cursor: pointer;

  color: font-color(light);
  font-weight: 600;

  &.placeholder {
    color: font-color(regular);
  }

  &:after {
    @include arrow(white);

    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    right: 14px;
    top: 9px;
    content: '';
    transition: transform ease 0.3s, top ease 0.3s;
  }

  &.opened:after {
    transform: rotate(45deg) scale(-1);
    top: 12px;
  }
}

.optionsContainer {
  @include shadow(3);

  display: flex;
  flex-direction: column;
  position: absolute;
  top: $height-input;
  background-color: palette(base);
  z-index: 1;
  overflow: hidden;
  width: 22 * $grid-unit;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px;

  transition: max-height ease 0.3s, top ease 0.6s;

  &.opened {
    top: $height-input + 2 * $grid-unit;
  }
}

.options {
  overflow: auto;
}

.optionContainer {
  @include font-button;
  color: font-color(lowlight);

  display: flex;
  align-items: center;
  background-color: palette(base);
  height: 45px;
  padding: 0 2 * $grid-unit 0 3 * $grid-unit;

  .label {
    margin-left: 2 * $grid-unit;
  }

  .icon {
    width: 32px;
    margin-left: auto;
  }
}

.selectAll {
  @include font-button;
  color: font-color(lowlight);

  padding-left: 25px;
  height: 5 * $grid-unit;
  line-height: 5 * $grid-unit;
  background-color: palette(base);
  cursor: pointer;
  transition: background-color ease 0.3s, color ease 0.3s;
  border-top: solid 1px #000;

  &.selected {
    background-color: $bg-component-selected;
    color: font-color(light);
  }

  &:hover {
    background-color: $bg-component-hover;
    color: font-color(light);
  }
}

.container.light {
  .input {
    background-color: palette(base, 300);
    border: 0;
    color: font-color(lowlight);
  }
}
