@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/borders';
@import '../../../styles/shadows';

$height-input: 30px;

.container {
  position: relative;
  cursor: pointer;

  &.white,
  &.white .input {
    color: white;
  }

  &.hasClearButton .input {
    padding-right: 30px;
  }
}

.input {
  @include form-input;
  padding: 11px 40px 11px 16px;
  line-height: normal;

  color: font-color(light);
  font-weight: 600;

  &.placeholder {
    color: font-color(lowlight);
  }

  &:after {
    @include arrow(white);

    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    right: 14px;
    top: 14px;
    content: '';
    transition: transform ease 0.3s, top ease 0.3s;
  }

  &.opened:after {
    transform: rotate(45deg) scale(-1);
    top: 17px;
  }
}

.optionsContainer {
  @include shadow(3);

  position: absolute;
  background-color: $bg-shape-default;
  z-index: 1;
  top: 100%;
  transition: max-height ease 0.3s, top ease 0.6s;
  overflow: hidden;
  width: max-content;
  min-width: 100%;
  overflow: auto;
  border-radius: 5px;

  &.opened {
    top: calc(100% + #{$grid-unit});
  }
}

.defaultOption {
  height: 40px;
  padding: 11px 16px;
}

.optionElement {
  color: font-color(light);
  line-height: 16px;

  &.selected {
    background-color: $bg-shape-selected;
  }

  &:hover {
    @include glow(3);
    background-color: $bg-shape-hover;
    color: font-color(dark);
  }
}

.container.light {
  .input {
    background-color: palette(base, 300);
    color: font-color(lowlight);
    border: 0;
  }
}
